<h3> <%= @Title %> </h3>

<%= form_for :post , url: home_path do |f| %>
   
    <% @products.each do |product| %>
        <div class="well">
            <h4> Product :  <%= product.product_name %> </h4>
            <p>    Category :  <%= product.category %> </p>
            <p>    Price : $  <%= product.price %> </p>
            </div>
        <% end %>

    <% end %>