<!DOCTYPE html>
<html>
  <head>
    <title>E-Store</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 

  <body>
  
  
  
  
   <nav class="navbar navbar-default">
  
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Electronics Store</a>
       </div>      
  
        <div class="collapse navbar-collapse" id="navbar1">
         
         <ui class="nav navbar-nav"> 
   
           <li> <%= link_to "Home", home_path %> </li>
  
         </ui>

         <ui class="nav navbar-nav"> 
         
                 <li> <%= link_to "Inventory", inventory_index_path %> </li>
        
               </ui>
  
  </div>
        </div>
      </nav>
  
  
  
  <div class="container">
  
      <%= yield %>
  </div>
    </body>
</html>
